html {
  font-family: 'Tilt Warp', cursive;
  background-color: rgb(67, 21, 110);
  letter-spacing: normal;
  color: aliceblue;
  
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: black;
  text-shadow: 6px 6px 6px rgb(43, 12, 68);
  border-bottom: 2px solid black; /*faixa preta*/

}

h2 {
  text-align: center;
  font-size: 25px;
}

p {
  font-size: 15px;
  line-height: 2;
  letter-spacing: 0px;
  margin: auto;
  text-align: center;
}

#primeirafrase {
  margin: 6px;
  font-size: 17px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  
  
}

a {
  color: aliceblue;
}
.icone{
  margin: auto;
  display: block; 
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

}