html {font-size: 15px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
    font-family: "Kanit", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
    background-color: rgb(153, 147, 147);
    letter-spacing: normal;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(29, 22, 92);
    text-shadow: 3px 3px 1px black;
  }
  h2 {
    text-align: center;
  }
  h3 {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0px;
  }

  body {
    width: 700px;
    margin: 0 auto;
    background-color: rgb(81, 93, 148);
    padding: 0 20px 20px 20px;
    border: 2px solid black
}
img {
  display: inline-block;
  margin: 0 auto;
}

  